<!DOCTYPE html>

<html lang="{{ .Site.LanguageCode }}">

<head>

    {{ partial "head.html" . }}

</head>

<body>

    <div class="main-wrapper">
        <div class="container px-3 px-lg-5">

            <!-- CUSTOM TOOLBAR -->
            <div class="custom-toolbar col-md-3 offset-md-9">
                <div class="row justify-content-end">
                    <div class="text-right">
                        <a href="{{ .Site.BaseURL }}/{{ .Language.Params.curriculumPdf }}" target="__blank">
                            <button type="button" class="btn btn-outline-primary">
                                <i class="bi bi-cloud-download"></i> Download PDF
                            </button>
                        </a>
                    </div>
                    {{ range $.Site.Home.AllTranslations }}
                        <div class="text-right"><a href="{{ .Permalink }}"><img width="24" height="24" src="{{ .Site.BaseURL }}/{{ .Language.Params.languageIcon }}"/></a></div>
                    {{ end }}
                </div>
            </div>

            <article class="resume-wrapper mx-auto theme-bg-light p-5 mb-5 my-5 shadow-lg">

                {{ partial "header.html" . }}

                <hr>

                {{ if .Site.Params.summary.enable }}
                {{ partial "summary.html" . }}
                {{ end }}

                <hr>

                <div class="resume-body">

                    <div class="row">

                        <div class="resume-main col-12 col-lg-8 col-xl-9 pr-0 pr-lg-5">

                            {{ if .Site.Params.experience.enable }}
                            {{ partial "experience.html" . }}
                            {{ end }}

                            {{ if .Site.Params.projects.enable }}
                            {{ partial "projects.html" . }}
                            {{ end }}

                            {{ if .Site.Params.information.enable }}
                            {{ partial "information.html" . }}
                            {{ end }}

                            {{ if .Site.Params.publications.enable }}
                            {{ partial "publication.html" . }}
                            {{ end }}

                        </div><!--//resume-main-->

                        {{ partial "sidebar.html" . }}

                    </div><!--//row-->

                </div><!--//resume-body-->

                <hr>

                {{ if .Site.Params.social.enable }}
                {{ partial "social.html" . }}
                {{ end }}

            </article>

        </div><!--//container-->

        {{ partial "footer.html" . }}

    </div><!--//main-wrapper-->

    {{ partial "scripts.html" . }}

</body>

</html>
