@tailwind base;
@tailwind components;
@tailwind utilities;

.nuxt-link-exact-active {
  @apply text-blue-500;
}

img[src*='#left'] {
  float: left;
}
img[src*='#right'] {
  float: right;
}

.center-md-image {
  display: block;
  margin: auto;
}